<html lang="en">
<head>
    <title>Login</title>
</head>
<body>
        <form method="post" action="../controller/logincheck.php" enctype=""> 
            <fieldset>
                <legend>Signin</legend>
            Username: <input type="text" name="username" value="" /> <br>
            Password: <input type="password" name="password" value="" /> <br>
                     <input type="submit" name="submit" value="submit" />
                     <a href="signup.html"> Signup</a>
            </fieldset>
        </form>
</body>
</html>