<html lang="en">
<head>
    <title>Signup</title>
</head>
<body>
        <form method="post" action="../controller/signupcheck.php" enctype=""> 
            <fieldset>
                <legend>Signup</legend>
            Username: <input type="text" name="username" value="" /> <br>
            Password: <input type="password" name="password" value="" /> <br>
            Email:    <input type="email" name="email" value="" /> <br>
                     <input type="submit" name="submit" value="submit" />
            </fieldset>
        </form>
</body>
</html>